{% extends "base_table.html" %}

{% block extra_scripts %}
    <script src="/static/js/filter.js"></script>
    {% if edit == 'edit' %}
     <script src="/static/js/content.js"></script>
    <script>
function hideContent(element) {
  element.textContent = '';
}
</script>
{% endif %}
{% endblock %}

{% block content_tab_class %}active{% endblock %}

{% block inner_content %}
    <div id="your_table" data-table="{{ table }}">
</div>
    <p style="margin-top: 10px; color: grey; font-size: 15px">{% if edit == 'edit' %}Редактирование таблицы{% else %}Просмотр таблицы{% endif %}<a style="margin-left: 15px" id="add-row-button" class="btn btn-sm orange"
    {% if edit == 'edit' %}
    href="{{ url_for('table_content',table=table, edit='view') }}">Просмотреть
    {% else %}
    href="{{ url_for('table_content',table=table, edit='edit') }}">Редактировать
    {% endif %}
    </a>
  <a id="add-row-button" class="btn btn-sm orange" href="#" onclick="toggleForm()">Добавление строки</a>
    </p>
<div id="add-row-form" style="display: none;">
  <form action="{{ url_for('add_row', table=table, edit=edit) }}" method="post" style="margin-top: 10px;">
    {% for info in infos %}
      <div class="form-group row">
      {% if info[3] != 'now()' %}
      {{ info }}
        <label for="{{ info[0] }}" class="col-sm-2 col-form-label">{{ info[0] }}</label>
        <div class="col-sm-10">
        {% if info[1] in ['integer', 'bigint', 'smallint', 'numeric', 'decimal', 'real', 'double precision'] %}
            <input type="number" step="any" class="form-control" id="{{ info[0] }}" name="{{ info[0] }}" {% if info[2] == 'NO' %}required{% endif %}>
        {% elif info[1] == 'date' %}
            <input type="date" class="form-control" id="{{ info[0] }}" name="{{ info[0] }}" min="0"{% if info[2] == 'NO' %}required{% endif %}>
        {% elif info[1] == 'timestamp' %}
            <input type="datetime-local" class="form-control" id="{{ info[0] }}" name="{{ info[0] }}"{% if info[2] == 'NO' %}required{% endif %}>
        {% elif info[1] == 'boolean' %}
            <select class="form-control" id="{{ info[0] }}" name="{{ info[0] }}">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        {% else %}
            <input type="text" class="form-control" id="{{ info[0] }}" name="{{ info[0] }}"{% if info[2] == 'NO' %}required{% endif %}>
        {% endif %}
        </div>
              {% endif %}
      </div>
    {% endfor %}
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-sm orange">Добавить</button>
      </div>
    </div>
  </form>
</div>


<script>
  function toggleForm() {
    var form = document.getElementById("add-row-form");
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>
<div class="table-responsive" style="margin-right: 30px">
<div class="table-container">
  <table class="table table-striped" style="min-width: 50px;">
    <thead>
      <tr>
        {% for info in infos %}
          <th style="border-bottom: 1px solid darkgrey">
            <input style="box-shadow: none; outline: none; border: 1px solid lightgrey; font-weight: normal; min-width: 50px" type="text" class="form-control column-filter" data-column="{{ loop.index0 }}" placeholder="Фильтр..."><br>
{#                      <span style="color: grey; font-weight: normal">({{ info[1] }})</span>#}
              <a style="color: black; " href="./content?ordering={% if ordering == info[0] %}-{% endif %}{{ info[0] }}">{{ info[0] }}</a><br>
          </th>
        {% endfor %}
      </tr>
    </thead>
<tbody>
  {% for column in columns %}
    <tr>
      {% for cell in column %}
        <td style="border: 1px solid darkgrey" {% if edit == 'edit' %}onclick="hideContent(this)" contenteditable{% endif %}>
          {% if cell == None %}
            <i style="color: darkgrey">Null</i>
          {% else %}
            {{ cell }}
          {% endif %}
        </td>
      {% endfor %}
      <td style="border: 1px solid darkgrey">
        <form action="{{ url_for('delete_row', table=table, edit=edit) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту строку?')">
          <input type="hidden" name="row_id" value="{{ column }}">
          <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</tbody>
  </table>
</div>
</div>
  <nav>
    <ul class="pager">
      <li class="{% if not previous_page %}disabled {% endif %}previous">
        {% if not previous_page %}
        <a href=" ">&larr; Предыдущая</a>
        {% else %}
        <a href="{{ url_for('table_content', table=table, edit=edit, page=previous_page, ordering=ordering) }}">&larr; Предыдущая</a>
        {% endif %}
      </li>
      <li>Страница {{ page }} / {% if total_pages == 0 %}1{% else %}{{ total_pages }}{% endif %}</li>
      <li class="{% if not next_page %}disabled {% endif %}next">
        {% if not next_page %}
        <a href=" ">Следующая &rarr;</a>
        {% else %}
        <a href="{{ url_for('table_content', table=table, edit=edit ,page=next_page, ordering=ordering) }}">Следующая &rarr;</a>
        {% endif %}
      </li>
    </ul>
  </nav>



{% endblock %}
